<app-navbar-home></app-navbar-home>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-6 text-center">

            <div class="card text-center" style="width: 25rem; ">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary" (click)="navegarInicio()">Inicio</button>
                </div>
            </div>

        </div>
        <!--col-6-->
        <div class="col-6 text-center">

            <div class="card text-center" style="width: 25rem; ">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary" (click)="navegarInicio()">Inicio</button>
                </div>
            </div>

        </div>
        <!--col-6-->

    </div>
    <!--row-->
</div>


<button type="button" class="btn btn-primary" (click)="navegarInicio()">Inicio</button>