<div class="background ">
    <app-navbar-home></app-navbar-home>

    <div class="view pb-5 pt-5 ">
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="sesionMedic col-6">

                    <div class="card text-center border-primary" style="width: 25rem; ">
                        <app-cuadro-inicio-sesion></app-cuadro-inicio-sesion>
                    </div>

                </div>
                <!--col-6-->
                <div class="col-6 text-center ">

                    <div class="card text-center border-primary " style="width: 25rem; ">
                        <app-cuadro-inicio-sesion-adm></app-cuadro-inicio-sesion-adm>
                    </div>

                </div>
                <!--col-6-->

            </div>
            <!--row-->
        </div>
    </div>
    <app-section></app-section>
</div>