<app-navbar-home>
</app-navbar-home>
<div class="container-fluid">
    <div class="view pb-5 pt-5 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mb-4">
                    <div class="card text-center border-primary">
                        <app-cuadro-inicio-sesion></app-cuadro-inicio-sesion>
                    </div>
                </div>
                <!--col-6-->
                <div class="col-lg-6 col-12">
                    <div class="card text-center border-primary ">
                        <app-cuadro-inicio-sesion-adm></app-cuadro-inicio-sesion-adm>
                    </div>
                </div>
                <!--col-6-->
            </div>
            <!--row-->
        </div>
    </div>
    <app-section></app-section>
</div>