<div class="card mb-2" >
   <!-- <img src="{{paciente.imgURL}}" class="card-img-top" alt="...">  -->
    <div class="card-body mb-1">
      <div class="row ">
        <div class="col-12 text-left">
  

          <!-- <p class="font-weight-bold">Codigo de cama: {{paciente.habitacion}}</p>
          <p class="text mb-1">Nombre: {{paciente.nombre}}</p>
          <p class="text mb-1">Rut: {{paciente.rut}}</p>
          <p class="text mb-1">Edad: {{paciente.edad}}</p>
          <p class="text mb-1">Sexo: {{paciente.sexo}}</p>
          <p class="text mb-1">Sintoma/s: {{paciente.sintoma}}</p>
          
          <p class="text mb-1">Medico Encargado: {{paciente.medicoEncargado}}</p>
          <p class="text mb-1">Ultimo Chequeo: {{paciente.ultimoChequeo}}</p>
          <p class="text mb-5">Chequeado Por: {{paciente.chequeadoPor}}</p> -->
                  
            
            <div [ngSwitch]="paciente.color">

              <div *ngSwitchCase="'red'">
                
                <p class="font-weight-bold">Codigo de cama: {{paciente.habitacion}}</p>
                <p class="text mb-1">Nombre: {{paciente.nombre}}</p>
                <p class="text mb-1">Rut: {{paciente.rut}}</p>
                <!-- <p class="text mb-1">Edad: {{paciente.edad}}</p>
                <p class="text mb-1">Sexo: {{paciente.sexo}}</p> 
                <p class="text mb-1">Sintoma/s: {{paciente.sintoma}}</p> -->
                
                <p class="text mb-1">Medico Encargado: {{paciente.medicoEncargado}}</p>
                <p class="text mb-1">Ultimo Chequeo: {{paciente.ultimoChequeo}}</p>
                <p class="text mb-5">Chequeado Por: {{paciente.chequeadoPor}}</p>
                <i class="fas fa-circle" style="color: red"></i><p class="text mb-1"> Cama ocupada </p> 
                
                <div class="col-12">
                  <button type="button" class="btn btn-success mb-1">Realizar chequeo</button>
                  <button type="button" class="btn btn-success">Retirar paciente</button>
                </div>
              </div>
            </div>
  
        </div>
  
      </div>
    </div>
  </div> 
      
      
  
