<div class="background">
    <app-navbar-sesion-iniciada></app-navbar-sesion-iniciada>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="sideBarSesionIn col-lg-2 col-12 bd-sidebar my-3">
                <app-collapsible-in></app-collapsible-in>
            </div>
            <main class="col-lg-7 col-12 my-3">
                <div class="col-12 offset-0">
                    <ng-container *ngIf="paciente">

                        <app-paciente-card-full [paciente]="paciente">
                        </app-paciente-card-full>

                    </ng-container>
                </div>
            </main>
            <div class="col-lg-3 col-12 my-5">
                <img alt="logo" src="assets/images/Imagen1.png" class="img-fluid">
            </div>
        </div>
    </div>
    <app-section></app-section>
</div>