<div class="background">
    <app-navbar-sesion-admin></app-navbar-sesion-admin>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="sideBarSesionIn col-lg-2 col-12 bd-sidebar my-3">
                <app-collapsible-in-admin></app-collapsible-in-admin>
            </div>
            <main class="col-lg-7 col-12 my-3">
                <div class="row mt-0">
                    <div class="col-lg-4 col-12 " *ngFor="let paciente of pacientes">
                        <app-paciente-card-libre [paciente]="paciente"></app-paciente-card-libre>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <app-section></app-section>
</div>