form{
    text-align:center;
    h1{
        font-size:20px;
    }        

    #mensaje{
    clear:both;
    width:100%;
    .text-muted{
        color:red !important;
    }
}


   .lleno{
    visibility: hidden;
   }
}

