<div class="background">
    <app-navbar-sesion-iniciada></app-navbar-sesion-iniciada>
    <div class="container-fluid mt-4">
        <div class="row">
            <!--row-->
            <div class="sideBarSesionIn col-lg-2 col-12 bd-sidebar mt-3">
                <!--col sidebar-->
                <app-collapsible-in-admin></app-collapsible-in-admin>
            </div>
            <!--col sidebar-->
            <main class="col-lg-7 col-12 mt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card text-center">
                                <app-registro-enfer></app-registro-enfer>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div class="col-lg-3 col-12">
                <h1>Aca va el Logo</h1>
            </div>
        </div>
        <!--row-->
    </div>
    <app-section></app-section>
</div>