<div class="background">
    <app-navbar-sesion-iniciada></app-navbar-sesion-iniciada>
    <div class="container-fluid mt-4">

        <div class="row">
            <div class="sideBarSesionIn col-12 col-md-3 col-xl-2 bd-sidebar">
                <app-collapsible-in></app-collapsible-in>
            </div>

            <div class="col-10">
                <div class="col-10">
                    <div class="imageHome card-body">
                        <div class="card-body">
                            <button type="button" class="btn btn-dark" (click)="navegarPaciente()">Ingresar Paciente</button>
                            <div class="imagen">
                                <img type="button" src="https://www.psychiatry.utoronto.ca/sites/default/files/impact-article-1-banner_2.jpg" alt="" class="center" (click)="navegarPaciente()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10">
                    <div class="imageHome card-body">
                        <div class="card-body">
                            <button type="button" class="btn btn-dark" (click)="navegarHabitaciones()">Ver Habitaciones</button>
                            <div class="imagen">
                                <img type="button" src="https://www.psychiatry.utoronto.ca/sites/default/files/impact-article-1-banner_2.jpg" alt="" class="center" (click)="navegarHabitaciones()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10">
                    <div class="imageHome card-body">
                        <div class="card-body">
                            <button type="button" class="btn btn-dark" (click)="navegarAgregarMedico()">Ingresar Paciente</button>
                            <div class="imagen">
                                <img type="button" src="https://www.psychiatry.utoronto.ca/sites/default/files/impact-article-1-banner_2.jpg" alt="" class="center" (click)="navegarAgregarMedico()">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-section></app-section>
</div>