<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="px-4 pt-3">

    <h1>Agregar Nuevo Paciente</h1>
    <div class="dropdown-divider  border-primary"></div>

    <div class="container-fluid">
        <div id='formulario' [ngClass]="{lleno: mensaje}">
            <div class="row my-4">

                <div class="col-3">
                    <label for="nombres">Nombres(*)</label>

                    <div class="input-group">
                        <div class="input-group-prepend">

                        </div>
                        <input id="nombres" name='nombres' class="form-control" type="test" formControlName="nombres" placeholder="Nombres">
                        <div id='mensaje'>
                            <small id="nombreoHelp" class="form-text text-muted" *ngIf="(nombres.dirty || nombres.touched) && nombres.invalid && nombres.errors.required"> Requerido  </small>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <label for="apellidos">Apellidos(*)</label>

                    <div class="input-group">
                        <div class="input-group-prepend">

                        </div>
                        <input id="apellidos" name='apellidos' class="form-control" type="test" formControlName="apellidos" placeholder="Apellidos">
                        <div id='mensaje'>
                            <small id="ApellidoHelp" class="form-text text-muted" *ngIf="(apellidos.dirty || apellidos.touched) && apellidos.invalid && apellidos.errors.required"> Requerido  </small>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <label for="rut">Rut(*)</label>

                    <div class="input-group">
                        <div class="input-group-prepend">

                        </div>
                        <input id="rut" name='rut' class="form-control" type="test" formControlName="rut" placeholder="Rut">
                        <div id='mensaje'>
                            <small id="rutHelp" class="form-text text-muted" *ngIf="(rut.dirty || rut.touched) && rut.invalid && rut.errors.required"> Requerido  </small>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row my-4">

                <div class="col-2">
                    <label for="fechaNac">Fecha de Nacimiento(*)</label>

                    <div class="input-group">
                        <div class="input-group-prepend">

                        </div>
                        <input id="fechaNac" name='fechaNac' class="form-control" type="test" formControlName="fechaNac" placeholder="00/00/0000">
                        <div id='mensaje'>
                            <small id="fechaNacHelp" class="form-text text-muted" *ngIf="(fechaNac.dirty || fechaNac.touched) && fechaNac.invalid && fechaNac.errors.required"> Requerido  </small>

                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <label for="apellidos">Sexo(*)</label>

                    <div class="input-group">
                        <div class="input-group-prepend">

                        </div>
                        <input id="apellidos" name='apellidos' class="form-control" type="test" formControlName="apellidos" placeholder="Apellidos">
                        <div id='mensaje'>
                            <small id="ApellidoHelp" class="form-text text-muted" *ngIf="(apellidos.dirty || apellidos.touched) && apellidos.invalid && apellidos.errors.required"> Requerido  </small>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <label for="rut">Rut(*)</label>

                    <div class="input-group">
                        <div class="input-group-prepend">

                        </div>
                        <input id="rut" name='rut' class="form-control" type="test" formControlName="rut" placeholder="Rut">
                        <div id='mensaje'>
                            <small id="rutHelp" class="form-text text-muted" *ngIf="(rut.dirty || rut.touched) && rut.invalid && rut.errors.required"> Requerido  </small>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                Recordarme
            </label>
            </div>

            <button class="btn btn-primary mt-3" type="submit" [disabled]="!checkoutForm.valid">Agregar</button>

            <div class="dropdown-divider  border-primary"></div>

            <div class="row ml-2">
                <div id='informacion'>
                    <ul>
                        <a class="dropdown-item" href="#">¿Has Olvidado Tu Contraseña?</a>
                    </ul>
                </div>
            </div>
            <div id='mensaje' [style.visibility]="isDivVisible ? 'visible' : 'hidden'" class="alert alert-success" role="alert">{{mensaje}}</div>


        </div>
    </div>
</form>