<div class="card mb-2">
    <div class="card-body mb-1">
        <div class="row ">
            <div class="col-lg-12 col-12 text-center">
                <div [ngSwitch]="paciente.color">
                    <div *ngSwitchCase="'green'">
                        <p class="font-weight-bold">Codigo de cama: {{paciente.habitacion}}</p>
                        <i class="fas fa-circle" style="color: green"></i>
                        <p class="text mb-1"> Cama desocupada </p>
                        <div class="col-lg-12 col-12">
                            <button type="button" (click)="navegarinfo( )"class="btn btn-success">Agregar paciente</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>