<div class="background">
    <app-navbar-sesion-iniciada></app-navbar-sesion-iniciada>
    <div class="container-fluid mt-4">

        <div class="row">
            <!--row-->
            <div class="sideBarSesionIn col-12 col-md-3 col-xl-2 bd-sidebar">
                <!--col sidebar-->
                <app-collapsible-in></app-collapsible-in>
            </div>
            <!--col sidebar-->
            <main class="col-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <app-formulario-paciente></app-formulario-paciente>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!--row-->
    </div>
    <app-section></app-section>
</div>