<div class="card mb-2" >
    <!-- <img src="{{paciente.imgURL}}" class="card-img-top" alt="...">  -->
     <div class="card-body mb-1">
       <div class="row ">
         <div class="col-12 text-left">
                 
             
             <div [ngSwitch]="paciente.color">
 
               <div *ngSwitchCase="'green'">
                 <p class="font-weight-bold">Codigo de cama: {{paciente.habitacion}}</p>
               <!--   <p class="text mb-1">Nombre: </p>
                 <p class="text mb-1">Rut: </p>
                 <p class="text mb-1">Edad: </p>
                 <p class="text mb-1">Sexo: </p>
                 <p class="text mb-1">Sintoma/s: </p> 
                 <p class="text mb-1">Medico Encargado: </p>
                 <p class="text mb-1">Ultimo Chequeo: </p>
                 <p class="text mb-5">Chequeado Por: </p> -->
                 <i class="fas fa-circle" style="color: green"></i> <p class="text mb-1"> Cama desocupada </p>
                 
                 <div class="col-12">
                   
                   <button type="button" class="btn btn-success">Agregar paciente</button>
                 </div>
               </div> 
             </div>
   
         </div>
   
       </div>
     </div>
   </div> 